rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ujieres/{ujierId} {
      allow read, write: if request.auth != null; // Allow authenticated users to read and write ujieres
    }
    
    match /simpatizantes/{simpatizanteId} {
      allow read, write: if request.auth != null; // Allow authenticated users to read and write simpatizantes
    }
    
    match /miembros/{miembroId} {
      allow read, write: if request.auth != null; // Allow authenticated users to read and write miembros
    }
    
    match /conteo/{conteoId} {
      allow read, write: if request.auth != null; // Allow authenticated users to read and write conteo
    }
    
    // Additional rules can be added here as needed
  }
}